// theme color variables
$primary: #0085ff;
$secondary: #151515;
$gray: #484848;
$light: #fff;

// font variables
$regular: "kanit-regular";
$bold: "kanit-bold";
$semiBold: "kanit-SemiBold";
$fontlight: "kanit-light";

// font-sizes
$small: 1.2rem;
$medium: 1.5rem;
$large: 2rem;

//theam ends 


/* You can add global styles to this file, and also import other style files */

// fonts import
@font-face {
  font-family: "kanit-regular";
  src: url("https://aryansuzuki.com/assets/fonts/Kanit-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "kanit-bold";
  src: url("https://aryansuzuki.com/assets/fonts/Kanit-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "kanit-SemiBold";
  src: url("https://aryansuzuki.com/assets/fonts/Kanit-SemiBold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "kanit-light";
  src: url("https://aryansuzuki.com/assets/fonts/Kanit-Light.ttf");
  font-display: swap;
}

// router-outlet ~ * {
//   position: absolute;
//   height: 100%;
//   width: 100%;
// }

html,
body {
  height: 100%;
}

h1 {
  font-family: $bold;
}

h2 {
  font-family: $fontlight;
  font-size: 1.5rem;
  text-align: justify;
  &.bike-side-header {
    color: $secondary !important;
    font-size: 2.2rem !important;
    font-family: $semiBold !important;
    &:after {
      content: "";
      position: absolute;
      left: 8.5%;
      display: inline-block;
      height: 1em;
      color: #0085ff;
      width: 3%;
      border-bottom: 3px solid;
      margin-top: 5px;
    }
  }
}

h4 {
  display: inline-block;
  font-family: $bold;
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: 2.6rem;
  display: inline-block;
  font-family: $bold;
  padding-left: 10px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  font-size: 2.6rem;
}

h6 {
  display: inline-block;
  font-family: $bold;
  padding-bottom: 5px;
  font-size: 1.8rem;
}
.popup {
  display: inline;

}

.popup-mobile {
  display: none;
} 

h5 {
  font-size: 1.5rem;
  color: $light !important;
  font-family: $semiBold;
}

// font-family: $fontlight;
// font-size: 1.5rem;
// text-align: justify;
// }
h4 {
  display: inline-block;
  font-family: $bold;
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: 2.6rem;
  margin-top: 25px;
  margin-bottom: 25px;
}

h5 {
  font-size: 1.5rem;
  color: $light !important;
  font-family: $semiBold;
}

.cdk-overlay-pane {
  position: absolute;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  width: max-content;
  display: flex;
  max-width: 100% !important;
  max-height: 100%;
}

// h5 {
//   font-size: 1.6rem;
//   text-align:left;
//   // color: $light;
//   font-family: $bold;
// }
button {
  padding: 5px 10px;
  border: none;
  margin: 5px;
}

.d-flex {
  display: flex;
}

.secondary-btn {
  background: #fff;
  color: $primary;
  font-family: $semiBold;
}

// .primary-btn {
//   background: $primary;
//   color: $light;
//   font-family: $semiBold;
//   padding: 8px 30px;
//   font-size: 14px;
// }
.primary-btn {
  background: $primary;
  color: $light;
  font-family: $semiBold;
  padding: 8px 20px;
  font-size: 14px;
  cursor: pointer;
}

// mask for blue underline
.mask {
  position: absolute;
  width: 3%;
  height: 3px;
  top: 70%;
  background: $primary;
}

//ngx carousal overright
.carousel-control.left,
.carousel-control.right {
  background-image: none;
  height: 100px;
  top: 50%;
  transform: translateY(-55%);
}

.carousel-item {
  text-align: center;
}

.navbar-toggle .icon-bar {
  background: $primary;
}

.carousel-indicators li {
  width: 35px;
  height: 3px !important;
  margin: 0px 2px !important;
  background-color: rgba(255, 255, 255, 0.34) !important;
  border: none !important;
}

.carousel-indicators .active {
  width: 35px !important;
  box-shadow: 1px 2px 4px 0px #222 !important;
  margin: 0px 2px !important;
  background-color: #ffffff !important;
}

// helper classes
.w-100 {
  width: 100%;
}

.blur {
  opacity: 0.7;
}

.w-50 {
  width: 50%;
}

.m-0 {
  margin: 0px;
}

.mt-5 {
  margin-top: 5%;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.relative {
  position: relative;
}

.p-10 {
  padding: 0px 10%;
}

.py-5 {
  padding: 5% 0%;
}

.p-0 {
  padding: 0px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding: 0px;
}

.pl-0 {
  padding-left: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.frame-sm,
//for mobile 
.frame-md {
  //for medium screen
  display: block;
}

.upper-case {
  text-transform: uppercase;
}

a {
  cursor: pointer;
}

.d-inline {
  display: inline-block;
}

.no-text-decoration {
  cursor: auto;
  &:hover {
    text-decoration: none;
  }
}

.op-0 {
  opacity: 0;
  cursor: auto !important;
}

// mat over rides
.mat-tab-header,
.mat-tab-nav-bar {
  border: none !important;
}
.mat-button {
  color: rgb(201, 201, 201);
}
.mat-snack-bar-container {
  background: $secondary;
}

.mat-form-field,
.mat-input-element,
.mat-select-value-text,
.mat-option-text {
  font-family: $regular !important;
}

.mat-dialog-container {
  padding: 0px !important;
}

//universal whatsapp styles
.float-div {
  position: fixed;
  bottom: 10%;
  right: 0;
  z-index: 99;
  display: flex;
}
.float-whatsapp {
  cursor: pointer;
  width: 120px;
  height: 58px;
}
.float-up, .float-whatsappmob {
  cursor: pointer;
  width: 45px;
  height: 45px;
}
.float-whatsappmob {
  margin-right: 18px;
}



// universal styles
.float-wrapper {
  right: -15%;
  position: fixed;
  height: 280px;
  top: 30%;
  margin-left: -250px;
  z-index: 1;
}

// .main {
//   margin-top: 75px;
// }
button {
  outline-width: 0;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.bread-crumb {
  * {
    color: $light !important;
  }
}

.banner-img-wrap {
  position: relative;
  padding-top: 70px;
  background: black;
  .banner-text {
    position: absolute;
    bottom: 0;
    left: 20px;
    color: #fff;
  }
}

//form button
.button-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0px 3.5%;
}

* {
  outline-width: 0 !important;
}

//spinner style
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  color: #0085ff;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  color: #0085ff;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #0085ff;
  border-color: #0085ff transparent #0085ff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// override time picker
#time-picker-wrapper {
  .time-picker-content {
    -webkit-transform: scale(0.8) !important;
    transform: scale(0.8) !important;
  }
}

// .cdk-overlay-pane {
//     width: 60% !important;
//     height: auto !important;
// }
// mobiles
@media only screen and (max-width: 769px) {
  .frame-md {
    display: none;
  }
  .p-10 {
    padding: 0px 5%;
  }
  h1 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 1000px) {
  .popup {
      display: none !important;
  }
  .popup-mobile {
      display: inline !important;
  }
}
// tab
@media only screen and (min-width: 769px) {
  .frame-sm {
    display: none;
  }
}

// higher screens
@media only screen and (min-width: 1500px) {
  //  {
  //   font-size: 2rem !important;
  // }
  h2,
  button {
    font-size: 1.7rem !important;
  }
}

//styles ends

.banner-img-wrap{
  margin-top: -8%;
}
.about-wrap {
  .first {
    padding: 1% 15%;
  }

  .second {
    padding         : 1% 15%;
    background-color: #151515;
    color           : #ffffff;
    min-height      : 450px;
  }

  .mask {
    left: 45%;
  }

  li {
    padding: 1% 0%;
  }

  ul {
    padding-left: 2% !important;
  }

  .last_row {
    width     : 100%;
    height    : 3px;
    top       : 70%;
    background: $primary;
  }

  .mask1 {
    left      : 2%;
    position  : absolute;
    width     : 3%;
    height    : 3px;
    top       : 70%;
    background: $primary;
  }

  .arrows {
    display: flex;

    .left {
      padding: 2px 10px;
      opacity: 1;
    }

    .right {
      padding: 2px 10px;
      opacity: 1;
    }

    .dullLeft {
      padding: 2px 10px;
      opacity: 0.5;
    }

    .dullRight {
      padding: 2px 10px;
      opacity: 0.5;
    }
  }

  h1 {
    display       : inline-block;
    font-family   : $bold;
    padding-left  : 10px;
    padding-bottom: 5px;
    font-size     : 2.6rem;
    display       : inline-block;
    font-family   : $bold;
    padding-left  : 10px;
    padding-bottom: 5px;
    margin-bottom : 20px;
    font-size     : 2.6rem;
  }

  .btn-wrap {
    padding: 20px 30%;
  }

  h6 {
    font-size     : 14px !important;
    letter-spacing: 1px;
    font-family   : $semiBold;
  }

  .subheading {
    font-size: 18px;
  }

  p {
    // padding   : 10px 15%;
    // text-align: left;
    font-family  : $fontlight;
    text-align   : justify;

  }
}

li {
  font-family: $fontlight;
}

.rem {
  font-size: 2.6rem !important;
}

@media only screen and (max-width: 776px) and (min-width: 480px) {
  .btn-wrap {
    padding: 5% !important;
  }

  .mask {
    left: 40% !important;
  }

  .first .second {
    padding: 0 !important;

    p {
      padding   : 5%;
      text-align: justify;
    }
  }
}

@media only screen and (max-width: 480px) {
  .about-wrap {
    .first {
      padding: 1% 10% !important;
    }

    .second {
      padding: 1% 10% !important;
    }
  }

  .btn-wrap {
    padding: 5% !important;
  }

  .mask {
    left: 35% !important;
  }

  .content {
    padding: 0 !important;

    p {
      padding   : 5%;
      text-align: justify;
    }
  }
}

@media only screen and (min-width: 1800px) {
  .second {
    min-height: 430px !important;
  }
}